h1{
    color: rgb(255, 255, 255);
}

header{
    display: block;
    background-color: black;
    justify-content:  left;
    height: 30vh;
}

#mama-logo-top{
    max-height: 200px;
    margin-left: 10vh;
    margin-top: 5vh;
}


.main-frame{  /* This is the flexbox container for our items */
    display: flex;
    justify-content: space-between;
    align-items: stretch;


    border: 10px;
    border-color: crimson;
    border-style: solid;


    background-color: lightcoral;

    min-height: 70vh;
}


.item{
margin: 10px;
padding: 10px;


border-color: purple;
border-style: solid;
border-radius: 10px;


}

.main-left{
    flex-grow: 1;
}

.main-center{
    flex-grow: 2;
}

.main-right{
    flex-grow: 1;
    max-width: 29%;
}



.todo-entry{
border-radius: 10%;


background-color:rgb(157, 204, 204);

}

.listitem{
    color:white;
}




.foot-flex{
    background-color: black;
    height: 40vh;
}

#mama-feet{
    margin-top: 30px;
    max-height: 200px;
}